@font-face {
}

$primary: hsl(14, 86%, 42%);
$rose-400: hsl(7, 20%, 60%);
$rose-900: hsl(14, 65%, 9%);
$rose-100: hsl(13, 31%, 94%);
$rose-50: hsl(20, 50%, 98%);

.container {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $rose-50;
}

.product-img {
  width: 90%;
  height: auto;
  background-color: $rose-100;
}

body {
  font-family: "Red Hat Text", sans-serif;
}

.product-price {
  color: $primary;
  font-weight: 700;
}

.product-name {
  font-weight: 600;
  color: $rose-900;
}

.product-category {
  font-size: 14px;
  color: $rose-400;
}

.button {
  background-color: $rose-100;
  padding: 15px 20px;
  margin-top: -1.5rem;
}

.icon {
  height: 40px;
}
