@charset "UTF-8";

.dessert--Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  margin: 5px;
  gap: 3px;
}

.dessert--Card p {
  font-size: 15px;
  color: var(--Rose500);
}

.dessert--Card h2 {
  font-size: 16px;
  font-weight: 600;
}

.dessert--Card h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--Red);
}

.dessert--Card img {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 10px;
}

.dessert--CardButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  font-size: 15px;
  font-weight: 600;
  padding: 12px;
  border: none;
  outline: 1px solid var(--Rose500);
  border-radius: 35px;
  color: var(--Rose900);
  background-color: var(--Rose50);
  gap: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.dessert--CardButton button {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.dessert--CardButton button img {
  width: 20px;
}

.dessert--CardButton button:hover {
  outline-color: var(--Red);
  color: var(--Red);
}

@media screen and (max-width: 1080px) {
  .dessert--Card {
    width: 50vw;
  }
}

.dessert--CardButton > .cart--Button--quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: none;
  background-color: var(--Red);
}

.cart--Button--quantityMinus i,
.cart--Button--quantityPlus i {
  display: flex;
  font-size: 12px;
  padding: 3px;
  outline: 1px solid var(--Rose50);
  border-radius: 50%;
  background-color: var(--Red);
  transition: 0.4s;
}

.cart--Button--quantityMinus i:hover,
.cart--Button--quantityPlus i:hover {
  background-color: var(--Rose50);
  color: var(--Red);
}

.dessert--CardButton > .cart--Button--quantity div {
  color: var(--Rose50);
}
